<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5BK6TrqLw7FOUCEkuusvsQdI2Lhvqelo</string>
	<key>GCM_SENDER_ID</key>
	<string>6951784862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>konya.timea2014-gmail.com.ExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-6ae1f</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-6ae1f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6951784862:ios:213c617edc454e24d8868f</string>
</dict>
</plist>